# Google Gemini API Key
# Get yours at: https://aistudio.google.com/
GOOGLE_API_KEY= AIzaSyCyyK_XS7OV0-AvyqaM9Pur49D3O3QsnDM

# NVIDIA API Key (Optional for Comparative Analysis)
# Get yours at: https://build.nvidia.com/
NVIDIA_API_KEY= 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
